<div class="body-wrapper">
    <div class="wall">
       <nav class="float-down">
           <img src="./static/images/logoSmall.png">
           <div class="profile">
           <a class="add-post modal-button" href="javascript:;">+</a>
               <span>{{userName}}</span>
               <img src="{{userPicture}}">
           </div>
           <div class="logout" id="logout">Logout</div>
       </nav>
        <div class="posts-container float-up">
        {{#each data}}
            <div class="post">
                <div class="post-content">
                    <div class="post-image">
                        <img src="{{postPicture}}">
                    </div>
                    <div class="post-profile">
                        <img src="./static/images/default-profile.png">
                        <span>{{owner}}</span>
                        <br/>
                        <div class="post-text">
                        <span>{{postText}}</span>
                        </div>
                    </div>

                </div>
                <div class="stats">
                    <div class="likes">
                        <img src="./static/images/likes.png">
                        <span>123</span>
                    </div>
                    <div class="comments">
                        <img src="./static/images/comments.png">
                        <span>123</span>
                    </div>
                </div>
                <div class="comments-container">
                    
                    <div class="comment">
                        <div class="owner">
                            <img src="./static/images/default-profile.png">
                            <span>John Doe</span>
                        </div>
                        <div class="comment-content">Lorem Ipsum</div>
                    </div>
                    
            </div>
            {{/each}}
        </div>
    </div>
    </div>
</div>
</div>
<div class="popup animable">
            <h2>Create New Post</h2>
            <input type="text" id="postPic" name="photo"
                placeholder="Pic Url">
            <textarea id="postContent"></textarea>
            <a href="javascript:;" class="form-button" id="form-button">Make Post</a>
        </div>
    <script src="./static/js/nitrous.js"></script>
    <script>
    $(document).ready(function() {
        $("#form-button").click(function() {
            console.log('Sending Register Data');
            postPic = $("#postPic").val();
            postContent = $("#postContent").val();
            
            $.post("/wall/new_post", { 
                postPic: postPic,
                postContent: postContent
            });


            $("#transition").addClass("fade-gray").removeClass("no-display");
                setTimeout(function () {
           window.location.replace("/wall");
            }, 1);
        });

        $("#logout").click(function() {
            
            $.post("/logout");


            $("#transition").addClass("fade-gray").removeClass("no-display");
                setTimeout(function () {
           window.location.replace("/wall");
            }, 1);
        });
    });
</script>